.button {
    width: 264px;
    height: 90px;
    color: #ffffff;
    padding: 0 0 0 0;
    background: none;
    border: 0;
    background-size: 100%;
    background-image: url("../images/ui/button.png");
    position: absolute;
    cursor: pointer;
}

.button:active {
    padding: 0.5% 0 0 0;
    background-image: url("../images/ui/click.png");
    cursor: pointer
}

.card{
    position: absolute;
    width: 400px;
    height: 400px;
}

.card div{
    position: absolute;
    top: 0;
    left: 0;
    transition: 2.7s;
    backface-visibility: hidden;
}

.card img{
    width: 100%;
    background-size: 100%;
}

.card .ura{
    transform: rotateY(-180deg);
}

.card_hover .omote{
    transform: rotateY(180deg);
}

.card_hover .ura{
    transform: rotateY(0);
}

th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 3px;      /* 余白指定 */
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

table {
    border-collapse:  collapse; /* セルの線を重ねる */
}